html {
  font: 16px/1.25 arial, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small {
  font-size: 0.75rem;
}

p {
  font-size: 0.875rem;
  margin: 0;
}

figure {
  left: 50%;
  margin: -180px 0 0 -320px;
  position: absolute;
  text-align: center;
  top: 50%;
}

figcaption {
  margin: 0.5rem 0 0;
}

canvas,
img {
  display: block;
}

.is-broken::after,
.is-frozen::after,
.is-mining::after {
  box-sizing: border-box;
  content: "";
  height: 0;
  position: absolute;
  top: 50%;
}

.is-frozen::after {
  border: 1.5em solid transparent;
  border-left-color: #000;
  border-left-width: 2.5rem;
  display: block;
  left: 50%;
  margin-left: 0.75rem;
  transform: translate(-50%, -50%);
  width: 0;
}

.is-broken::after,
.is-mining::after {
  display: inline-block;
  font-size: 0.75rem;
  left: 0;
  text-align: center;
  width: 100%;
}

.is-mining::after {
  content: "PLEASE WAIT...";
}

.is-broken::after {
  color: #f00;
  content: "Errors loading sound bytes, sorry :)";
  letter-spacing: 1px;
}
